.order{
    margin-top: 10%;
    margin-left:15%;
    margin-right:15%;
     
}
.place-order{
    margin-left: 90%;
    color:white;
    border-radius:5px;
    border:1px solid white;
    padding:5px;
    background-color:chocolate;
    font-size: 20px;
}
.ship-form{
    margin:30px 100px;
    margin-top: 8%;
    margin-left:40%;
}
.ship-form input{
    display:block;
    margin-top: 30px;
    padding: 5px;
    border: 1px solid gray;
    border-radius:5px;
    width:300px
}
.error{
    color:red;
}